/* Our default values set as CSS variables */
:root {
  --image-max-width: 300px;
}

body {
  font-family: sans;
}

h1 {
  color: #2800FF;
}

h2 {
  color: #2800FF;
}

.wrapper {
  min-height: 86vh;
}

.content {
  text-align: center;
}

.interactions {
  text-align: left;
  display: inline-block;
  padding: 5px;
}

.illustrations {
  padding: 1rem;
}

.illustration {
  max-width: var(--image-max-width);
  padding: 1rem;
  vertical-align: middle;
}

.footer {
  margin: 1rem;
  padding: 1rem;
  border-top: 4px solid #ddd;
  text-align: center;
}
